:root {
    --bg-primary: #06071f;
    --bg-secondary:  #FFF80A;
    --text-primary: #f80e41;
    --text-secondary: #c1e0fa;
    --button: #F5AD18;
}

body { 
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    font-family: "Outfit", sans-serif;
}

p {
    margin: 0 0 4px;
}

h3 {
    margin: 0 0 8px;
    font-weight: 900;
}

main {
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#elegir-campo-batalla {
    flex-direction: column;
    align-items: center;
}

#seleccion-campo-batalla {
    display: flex;
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 8px;
}

input {
    display: none;
}

.tarjeta-campo {
    width: 170px;
    height: 80px;
    padding: 10px;
    border: 2px solid var(--bg-secondary);   
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input:checked + .tarjeta-campo {
    background-color: rgba(255, 248, 10, 0.2);
    backdrop-filter: blur(4px);
    transform: scale(1.05);
}

.tarjeta-campo:hover {
    transform: scale(1.05);
    background-color: rgba(255, 248, 10, 0.2);
    backdrop-filter: blur(4px);
}

#seleccionar-campo-batalla {
    width: 160px;
    height: 40px;
    margin-top: 30px;
    border-radius: 16px;
    background-color: var(--button);
    font-size: 16px;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    border: transparent;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#seleccionar-campo-batalla:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px 2px var(--button);
}

.elegir-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin-top: 0;
    font-size: 34px;
    font-weight: 900;
    color: var(--text-primary);
    text-shadow: 0px 1px 20px var(--text-primary);
}

.sub-titulo {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 900;
}

#seleccion-mascota {
    display: flex;
    gap: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 8px;
}

.tarjeta-mokepon {
    width: 180px;
    height: 80px;
    padding: 10px;
    border: 2px solid var(--bg-secondary);   
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.img-mokepon {
    width: 60px;
    height: 60px;
}

input:checked + .tarjeta-mokepon {
    background-color: rgba(255, 248, 10, 0.2);
    backdrop-filter: blur(4px);
    transform: scale(1.05);
}

.tarjeta-mokepon:hover {
    transform: scale(1.05);
    background-color: rgba(255, 248, 10, 0.2);
    backdrop-filter: blur(4px);
}

#seleccionar-mascota {
    width: 160px;
    height: 40px;
    border-radius: 16px;
    background-color: var(--button);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: transparent;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#seleccionar-mascota:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px 2px var(--button);
}

#combate {
    flex-direction: column;
    align-items: center;
}

.btn-ataque {
    background-color: var(--button);
    width: 160px;
    height: 40px;
    border-radius: 16px;
    border-color: transparent;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.btn-ataque:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px 2px var(--button);
}

.btn-ataque:disabled {
    opacity: 0.8;
}

#container-ataques-jugador {
    width: 550px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

#container-combate {
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

#tarjetas-jugadores {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tarjeta-jugador {
    justify-items: center;
    font-size: 16px;
    width: 160px;
    height: 190px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--bg-secondary);      
    border-radius: 16px;
    overflow: hidden;
}

.nombre-macota {
    font-weight: 700;
}

.ataque-elegido {
    width: 256px;
    display: flex;
    justify-content: center;
}

#container-batalla {
    width: 364px;
    height: 200px;
    position: relative;
}

#batalla {
    background-image: url(./img/campo_batalla3.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    z-index: 1; 
    border: 2px solid var(--bg-secondary);
}

#ataques {
    position: absolute;
    top: 126px;
    left: 50px;
    z-index: 2;
}

#reiniciar-juego {
   width: 140px;
   height: 40px;
   margin-top: 20px;
   border-radius: 16px;
   background-color: var(--button);
   color: var(--bg-primary);
   font-weight: 700;
   border-color: transparent;
   font-family: "Outfit", sans-serif;
   font-size: 16px;
   cursor: pointer;
   transition: transform 0.2s ease-in-out;
}

#reiniciar-juego:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px 2px var(--button);
}

#aviso-girar-pantalla {
    display: none;
}

.girar-celular {
    fill: var(--text-secondary);
}

@media (max-width: 600px) {
    main {
        max-width: 100%;
        max-height: 100svh;
    }
    #aviso-girar-pantalla {
        max-width: 100%;
        max-height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sub-titulo {
        margin-bottom: 40px;
        transform: scale(1.2);
    }
    .girar-celular {
        animation: girar 2s ease infinite;
        transition: transform 2s ease;
    }
    .elegir-mascota {
        position: absolute;
        top: -100vh;
        opacity: 0;
    }
}

@keyframes girar {
    0% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(134deg);
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    .elegir-mascota {
        transform: scale(0.6);
    }
    #elegir-campo-batalla {
        transform: scale(0.6);
    }
    #combate {
        min-width: 100svh;
        transform: scale(0.6);
    }
    #conatiner-batalla {
        transform: scale(0.4);
    }
}
